.form-center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  min-height: 100vh;
  height: auto;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 60px;
  max-width: 80%;
}
@media (max-width: 500px) {
  .form-container {
    margin: 40px 0;
    padding: 20px 30px;
  }
}
.form-group {
  position: relative;
}
.form-control {
  padding-left: 40px;
}
.i-block {
  position: absolute;
  width: 40px;
  height: 38px;
  text-align: center;
}
i {
  margin-top: 11px;
  font-size: 18px;
}

