#chat
    .chat-nav
        i#prev.fa.fa-arrow-left.d-lg-none
        .chat-nav-container
            img.chat-nav-avatar(src="http://3.bp.blogspot.com/-py-G-pEM0JE/UoQQnFLAi1I/AAAAAAAABOA/5Cxap21-LDA/s1600/johnny_bravo.png") 
        h5#friendName 
        .chat-nav-buttons
            i.fa.fa-phone-alt
            i.fa.fa-video
    .chat-box
    form#messageSender.message-send
        textarea.message-send-sender(placeholder="Write here..." name="text" rows="1")
        input.message-send-button(type="button" value="Send")