#addFriend
    .friends-title
        h3 Add Friend
    div
        form.my-2.my-lg-0
            input#search.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        ul#searchOutput
            