#friends.tab-pane.fade.col-lg-3(role="tabpanel") 
    .friends-title
        h3 Chats
    .friends-card.px-4.py-3.message(data-user="Johny Bravo")
        .friends-card-avatar-container
            img.friends-card-avatar(src="http://3.bp.blogspot.com/-py-G-pEM0JE/UoQQnFLAi1I/AAAAAAAABOA/5Cxap21-LDA/s1600/johnny_bravo.png")
            .friends-card-dot 1
        .friends-card-content.p-3
            .friends-card-username.font-weight-bold Johny Bravo 
            .friends-card-text Hej mała, lubie placki i inne potrawy
            small.friends-car-time 2 a.m
    .friends-card.px-4.py-3
        .friends-card-avatar-container
            img.friends-card-avatar(src="http://3.bp.blogspot.com/-py-G-pEM0JE/UoQQnFLAi1I/AAAAAAAABOA/5Cxap21-LDA/s1600/johnny_bravo.png")
        .friends-card-content.p-3
            .friends-card-username.font-weight-bold Johny Bravo 
            .friends-card-text Hej mała, lubie placki...
            small.friends-car-time 2 a.m