#online.tab-pane.fade.col-lg-3(role="tabpanel") 
    .friends-title
        h3 Online Users
    -for(let friend of friends)
        .friends-card.px-4.py-3(data-id=friend.idfriends)
            .friends-card-avatar-container
                img.friends-card-avatar(src="http://3.bp.blogspot.com/-py-G-pEM0JE/UoQQnFLAi1I/AAAAAAAABOA/5Cxap21-LDA/s1600/johnny_bravo.png")
            -if(friend.status == 1)
                .friends-card-content.p-3
                    .friends-card-username.font-weight-bold=friend.username 
                    .friends-card-text Offline   
                .friends-card-statusdot 
                    .friends-card-statusdot-body
            -else
                .friends-card-content.p-3
                    .friends-card-username.font-weight-bold=friend.username 
                    button.acceptFriend accept
                    button.declineFriend decline