extends /boilerplate
include /layout/navbar
include /layout/footer

block head
  link(href='css/one-page-wonder.min.css' rel='stylesheet') 
  link(href='css/beer.css' rel="stylesheet")
  link(href='css/smallbeer.css' rel="stylesheet")
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

block scripts
  script(src='js/beer.js')

block body
  +navbar()
  header.text-center.text-white
    .beer
      .beer__container
        h1.masthead-heading.mb-0 Don't drink alone
        h2.masthead-subheading.mb-0 Let's find some friends!
      a(href="/login")
        .bcontainer
          h1 Join!
          .borderbox
            .glass  
              .inner
                - var i = 0;
                while (i++ < 12)
                  .bubble
  #down
  section

  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            <!-- https://manofmany.com/wp-content/uploads/2019/10/Funniest-Names-for-Being-Drunk-2.jpg -->
            img.img-fluid.rounded-circle(src='img/drunk.png' alt='drunk')
        .col-lg-6
          .p-5
            h2.display-4 Don't pass out alone!
            p
              b It's definitely better to have some friends and have a great time with them! Bring your staff and sit in front of the monitor and let the party begin!<br>
              i "When we drink we get drunk. When we get drunk we fall asleep. When we fall asleep we commit no sin. When we commit no sin we go to heaven. Sooooo, let's all get drunk and go to heaven!" ~ Brian O'Rourke
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='img/toast.png' alt='toast')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 All over the world!
            p
              b Of course you can drink with your real friends, but if noone is avaible, you can just find a totally random person from all over the world! <br>
              i "The problem with the world is that everyone is a few drinks behind." ~ Humphrey Bogart
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            <!-- https://cdn2.vectorstock.com/i/1000x1000/60/51/happy-young-man-with-thumbs-up-vector-18356051.jpg -->
            img.img-fluid.rounded-circle(src='img/easy.png' alt='easy')
        .col-lg-6
          .p-5
            h2.display-4 It is easy to start!
            p
              b Only what you have to do is create an account and verify your mail. That's all! Just login and add your friends or search for some new!<br>
              i "Few clicks and you can start searching for alco-friends!" ~ CEO Drink Together
  +footer()
  