extends /boilerplate


block head
    link(rel="stylesheet", href="css/user.css", attr)
    script(src="https://kit.fontawesome.com/9eef710565.js")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="bundles/user.bundle.js")

block body
    .row.no-gutters
        .col-12.col-lg-3.align-items-center.justify-content-center.d-none.d-lg-flex.p-4#title
            img#logo(src="img/beer.png" alt="beer" width="25px" height="25px")
            span.m-0#tit Drink Together!
        .col-12.col-lg-9
            include ./user/navbar   
        
    nav#tabsNav.nav.nav-pills.nav-justified.p-2.d-lg-none(role="tablist")
        a.nav-item.nav-link.mx-3(href="#friends" data-toggle="tab" role="tab" aria-selected="false") CHATS
        a.nav-item.nav-link.mx-3(href="#online" data-toggle="tab" role="tab" aria-selected="false") ONLINE
       
    #tabs.tab-content.row.no-gutters
        include ./user/friends
                
        #middle.col-lg-6.tab-pane
            include ./user/chat
            include ./user/addFriend
            include ./user/groups
            include ./user/random
            include ./user/settings

        include ./user/online

           
        