mixin footer(links)
  footer.py-5.bg-black
    .container
      p.m-0.text-center
        a.mr-3(href='https://www.facebook.com/drink2g4')
          i.fa.fa-facebook-square.text-white.fa-2x
        a(href='https://www.instagram.com/drink2g4/')
          i.fa.fa-instagram.text-white.fa-2x
      p.m-0.text-center.text-white.small Copyright &copy; Drink Together 2020