mixin navbar(links)
    nav#mainNavbar.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
        .container
            a.navbar-brand(href='/') Let's Drink Together 
            a.navbar-brand(href='https://www.facebook.com/drink2g4')
                i.fa.fa-facebook-square
            a.navbar-brand(href='https://www.instagram.com/drink2g4/')
                i.fa.fa-instagram
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link.register-link(href='/register') Sign Up
                    li.nav-item
                        a.nav-link.login-link(href='/login') Log In

