extends /boilerplate
include /layout/navbar
include /layout/footer

block head
  link(href='css/one-page-wonder.min.css' rel='stylesheet') 
  link(href='css/beer.css' rel="stylesheet")
  link(href='css/smallbeer.css' rel="stylesheet")

block scripts
  script(src='js/beer.js')

block body
  +navbar()
  header.text-center.text-white
    .beer
      .beer__container
        h1.masthead-heading.mb-0 Don't drink alone
        h2.masthead-subheading.mb-0 Let's find some friends!
      a(href="/login")
        .bcontainer
          h1 Join!
          .borderbox
            .glass  
              .inner
                - var i = 0;
                while (i++ < 12)
                  .bubble
  #down
  section

  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='img/02.jpg' alt='')
        .col-lg-6
          .p-5
            h2.display-4 We salute you!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='img/03.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Let there be rock!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  +footer()