extends /boilerplate
include /components/form

block body
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Don't drink alone
        h2.masthead-subheading.mb-0 Let's find an alco-friend!
        a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#') Learn More
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section

  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='img/02.jpg' alt='')
        .col-lg-6
          .p-5
            h2.display-4 We salute you!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='img/03.jpg' alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Let there be rock!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.






