extends /boilerplate

block scripts
    script(src="/socket.io/socket.io.js")
    script(src='js/test.js')

block body
    .container
        br
        .jumbotron
            h1.display-4 Send Message
            br
            input#name.form-control(placeholder='Name')
            br
            textarea#message.form-control(placeholder='Your Message Here')
            br
            button#send.btn.btn-success Send
        #messages
